//
// Base style
//

html {
  --bg: $default-background;
  --fg: $default-color;
  --dim: $admin-dim;
  --lit: $adminer-lit;

  font-size: 14px;
  min-height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $default-color;
  background-image: linear-gradient($default-background, #0c1018);
  @include scrollbar;
}

a {
  font-weight: 400;
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:link:hover,
  &:visited,
  &:visited:hover {
    color: $link-hover-color;
    font-weight: 400;
    text-decoration: underline;
  }
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

fieldset {
  border-radius: 3px;
  border-color: $odd-bg;
}

.error,
.message {
  padding: .75rem 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: .25rem;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
}

.message {
  color: #155724;
  background-color: #d4edda;
}