//
// Logout section
//

.logout {
  margin: 1rem;
  background: transparent !important;
  box-shadow: none !important;

  input[type="submit"] {
    border-color: #fb588b !important;
    background-color: #fb588b !important;
  }
}